#parent {
    display: flex;
    width:1000px;
    height:300px;
    border:2px solid red;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
    align-items: center;
}

.orange {background: orange;}
.green {background: green;}
.blue {background: blue;}
.pink {background: pink;}
.yellow {background: yellow;}


#parent .child:nth-child(1) {
    height:100px;
}