#parent {
    position:relative;
    width: 300px;
    height: 200px;
    background-color: lightgray;
}

#children {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: pink;
    right: 0px;
    bottom: 0px;
}