* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 1200px;
    height: 300px;
    padding: 20px;
    background-color: sandybrown;
    margin-bottom: 50px;
}

#title {
    height:100px;
    width: 1160px;
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.circle span {
    position: absolute;
    top: 38%;
    left: 25%;
}

/* 배색 1, 2, 3 */
#color1 {
    background-color: chocolate;
}

#color2 {
    background-color: sandybrown;
}

#color3 {
    background-color: bisque;
}