#main {
    padding: 50px 50px 150px;
    /* padding-bottom: 50px; */
    position: relative;
}

/* 배색 1, 2, 3 */
#color1 {
    background-color: chocolate;
}

#color2 {
    background-color: sandybrown;
}

#color3 {
    background-color: bisque;
}

#main h1 {
    margin-bottom: 50px;
}

#main div {
    /* text-decoration: none; */
    position: relative;
    height: 500px;
    width: 800px;
    margin-bottom: 5px;
    background-color: bisque;
}

#main .right {
    right: -400px;
}

#main div h2 {
    font-size: 27.2px;
    padding-bottom: 10px;
}

#main div div {
    padding: 10px;
    height: 450px;
    width: 800px;
    background-size: cover;
    background-color: transparent;
    position: relative;
}

#location {
    background: url("./store_location.png");
}

.star {
    font-size : 50px;
    position: absolute;
    top: 140px;
    left: 360px;
}

#main div div span {
    display: block;
    background-color: transparent;
}