#main {
    padding: 50px;
    /* padding-bottom: 50px; */
    position: relative;
    font-family: "Dongle", sans-serif;
    font-optical-sizing: auto;
}

.store {
    width: 1100px;
    padding-bottom: 20px;
}

#main .store:nth-child(1) .text {
    font-size: 60px;
}

.store .text {
    font-size: 48px;
    width: 1100px;
    padding: 3px 10px;
}

.store .chart {
    width: 1100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.star {
    background-color: transparent;
    position: absolute;
    top: 450px;
    left: 400px;
}

.store .chart .img {
    width: 700px;
    flex-shrink: 1;
    border-radius: 10px;
}

.store .chart .location {
    height: 700px;
    background-image: url("./store_location.png ");
    background-size: cover;
    background-position: center;
    
    flex-shrink: 1;
}

.store .chart .descript {
    width: 400px;
    white-space: normal;
    font-size: 24px;
    background-color: rgb(238, 183, 117);
    border-radius: 5px;
    flex-shrink: 1;
    padding: 3px;
}

#main .store:nth-child(3) .chart .descript {
    width: 400px;
    white-space: normal;
    font-size: 24px;
    background-color: transparent;
    border-radius: 5px;
    flex-shrink: 1;
    padding: 3px;
    opacity: 0; 
}

ul {
    list-style-type: none;
    margin:0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px;
    flex-shrink: 1;
    background-color: transparent;
}

ul * {
    flex: 1;
    text-align: center;
    font-size: 28px;
    background-color: wheat;
    border-radius: 5px;
}

.store .chart .workTime {
    background-color: sandybrown;
    border-radius: 7px;
    padding: 5px 7px;
}

.store .chart .seats {
    height: 580px;
    background-image: url("./store_seats.png ");
    background-size: cover;
    background-position: center;
    
    flex-shrink: 1;
}