* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header {
    width: 1200px;
    background-color: sandybrown;
    font-family: "Playwrite NZ Basic", cursive;
}

#titleBox {
    background-color: transparent;
    color: bisque;
    padding: 50px 10px 20px;
}

#title {
    background-color: transparent;
    font-size: 75px;
    text-align: center;
    color: bisque;
}

#title a {
    background-color: transparent;
    font-size: 75px;
    color: bisque;
    text-decoration: none;
}

#nav {
    background-color: transparent;
    color: darkred;
    transition: 0.5s;
    display: flex;
    padding: 10px 7px 7px;
    justify-content: space-evenly;
    gap: 7px;
}

#nav .blank {
    background-color: transparent;
    flex: 5;
}

#nav .menu {
    background-color: transparent;
    text-align: center;
    flex: 1;
}

#nav .menu a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
    color: currentColor;
}

#nav .menu :hover {
    transition: 0.5s;
    background-color: burlywood;
    color: brown;
}

#footer {
    width: 1200px;
    height: 60px;
    background-color: saddlebrown;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    gap: 20px;
    padding: 10px 20px;
    font-family: "Dongle", sans-serif;
}

#footer div {
    /* height: auto; */
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

#cafeMenu {
    /* height: 500px; */
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

#main{
    width: 1100px;
    height: auto;
    float: left;
    padding: 7px 10px;

}

.category{
    display:inline-flex;
    justify-content: left;
    flex-direction: row;
    padding: 10px 0px;
    text-align: center;
}

.category div a{
    text-decoration: none;
    color: #131313;
}

#slash{
    color: gray;
}

.subtitle{    
    color: #131313;
    text-align: center;
}