/* parent.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#wrap form{
    width: 400px;
    display: flex;
    padding: 20px;
}

#searchFormBox {
    width: 300px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.input-field {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.input-field label {
    width: 80px;
    text-align: right;
}

.input-field input {
    width: 150px;
}

.input-field button {
    padding: 0 10px;
    border: none;
    background: blue;
    color: #fff;
}